<form action="/answer" method="post">
  <label for="question">Pour combien ?</label>
  <input type="text" id="question" name="question" placeholder="en combien ?">
  <input type="text" id="autre" name="autre" placeholder="Combien">
  <input type="submit" value="C'est parti">
</form>
