<%= @letters %>
<br>
<br>
<form action="/score" method="post">
  <label for="mot">Quel est votre plus grand mot ?</label>
  <input type="text" id="mot" name="mot" placeholder="Votre mot">
  <input type="submit" value="C'est parti">
</form>
